.header {
  text-align: center;
  margin: 3.998rem 0;

  .title {
    font-weight: inherit;
    font-size: 3.998rem;
  }
  .teaser {
    font-size: 2rem;
    margin-bottom: 3.998rem;
  }
  .headerImage {

  }
}
