body {
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a {
  color: #3498db;

  &:hover {
    color: #2980b9;
  }
}

h1 {
    font-weight: inherit;
    font-size: 3.998rem;
}

header {
  text-align: center;
  padding: 1rem 0;
}